<%if current_user.usertype == "Recruiter" %>
  <% @appliedjobs.each do |appliedjob| %>
    <%if job.id==appliedjob.job_id %>
    <br>
    <div class="container">
      <div class="row">
        <div class="col">
        <div class = "card" style="width: 30rem;background-color:#4863A0;color:white">
            <h4><%= appliedjob.user.username%></h4>
            <div class="row">
              <div class="col"><b>ID: <%= appliedjob.user.id%></b></div>
              <div class="col"><%= link_to "View Application", appliedjob ,class:"btn",style: "width:10rem;background-color:#872657;color:white"%></div>
            </div> 
        </div>
        </div>
      </div>
    </div>
    <%end%>
  <%end%>
<%end%> 


