<%= render 'home/header'%>
</br></br>
<center>
  <%if current_user.usertype == "Candidate" %>
<% @appliedjobs.each do |job| %>
<br>
  <div class="container">
      <div class="row">
        <div class="col">
        <div class = "card" style="width: 30rem;background-color:#4863A0;color:white">
            <h4><%= job.job.job_title%></h4>
            <div class="row">
              <div class="col"><b>ID: <%= job.job.id%></b></div>
              <div class="col"><%= job.status.nil? ? "Pending" : job.status%></div>
            </div> 
        </div>
        </div>
      </div>
    </div>

<%end%>    
<%end%>
</center>

