<%= render 'home/header'%>
</br></br>
<center><table style="width:600px;background-color:#F8B88B;font-size:20px" class="table table-hover table-striped table-sm">
  <thead style="background-color:#C12267;color:white;font-size:25px">
    <th>Job Title</th>
    <th>Status</th>
  </thead>
  <%if current_user.usertype == "Candidate" %>
<% @appliedjobs.each do |job| %>
<tr>
  <td><%= job.job.job_title %> </td>
  <td><%= job.status.nil? ? "Pending" : job.status %><br></td>
</tr>  
<%end%>    
<%end%>
</center>