<%= render 'home/header'%>
<br><br><br>
<div >
<center><h1>Edit A Job</h1>
<br>
<%= render "form", job: @job %>

<br>

  <div>
  <center><%= link_to "Show this job", @job,class:"btn btn-warning" %> |
  <%= link_to "Back to jobs", jobs_path ,class:"btn btn-warning"%></center>
  </div>
</div>