<%= render 'home/header'%>
<p style="color: green"><%= notice %></p>
<br><br>
<div id="jobs" >
  <div class="row d-flex justify-content-center m-0">
    <div class="col-sm-12">
      <div class="row" id="sortable">
        <% @jobs.each do |job| %>
          <%= render job %>
        <% end%>
      </div>
    </div>
  </div>
</div>

