<%= render 'home/header'%>
<br><br><br>
<div>
<center><h1>Post a New Job</h1>
<br>
<%= render "form", job: @job %>

<br>

<br>
<div>
  <center><%= link_to "Back to jobs", jobs_path ,class:"btn btn-warning"%></center>
</div>
</div>