<h1>Editing appliedjob</h1>

<%= render "form", appliedjob: @appliedjob %>

<br>

<div>
  <%= link_to "Show this appliedjob", @appliedjob %> |
  <%= link_to "Back to appliedjobs", appliedjobs_path %>
</div>
