<%= render 'home/header'%>
<br><br>
<center><h1>Apply Now!</h1>
<br><br>
<%= render "form", appliedjob: @appliedjob %>

<br>
<br>
<div>
  <%= link_to "Back to jobs", jobs_path ,class:"btn btn-primary btn-dark",style: "background-color:#C25283" %>
</div>

</center>